.hero{
    background-color: var(--background-color-hero);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/mobile/hero-mobile.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            max-width: 480px;
            margin: 0 auto;
            text-align: center;
    
            padding-top: 118px;
            padding-bottom: 118px;

}
.hero-title {
    font-weight: 900;
    @include font($fs: 26px, $lh: 42px, $ls: 0.06em);
    text-align: center;
    text-transform: uppercase;
    color: var(--color-hero-title);

    // max-height: 400px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    @include font($fs: 16px, $lh: 30px, $ls: 0.06em);
    text-align: center;
    background-color: var(--background-color-button);
    color: var(--color-button);

    border: none;
    border-radius: 4px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;

    transition: background-color var(--transition-duration-function);

        &:hover,
        &:focus {
            background-color: var(--background-color-button-hover);
        }
}

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/mobile/hero-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px){
    .hero{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../images/tablet/hero-tablet.jpg);
                max-width: 768px;
    }

}

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url(../images/tablet/hero-tablet@2x.jpg);
      }
  }

  @media screen and (min-width: 1200px) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url(../images/desktop/hero-desktop.jpg);
          max-width: 1600px;
        padding-top: 200px;
            padding-bottom: 200px;
        .hero-title{
            @include font($fs: 44px, $lh: 60px, $ls: 0.06em);
            max-width: 696px;
        }
        .button{
            padding-left: 32px;
                    padding-right: 32px;
        }
      }

  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
      .hero {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
              url(../images/desktop/hero-desktop@2x.jpg);
      }
  }
// .hero {
//     background-color: var(--background-color-hero);
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//         url(../images/bg_img.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     max-width: 1600px;
//     margin: 0 auto;
//     text-align: center;

//     padding-top: 200px;
//     padding-bottom: 200px;
// }

// .hero-title {
//     font-weight: 900;
//     @include font($fs: 44px, $lh: 60px, $ls: 0.06em);
//     text-align: center;
//     text-transform: uppercase;
//     color: var(--color-hero-title);

//     width: 696px;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 30px;
// }

// .button {
//     font-family: inherit;
//     font-weight: 700;
//     @include font($fs: 16px, $lh: 30px, $ls: 0.06em);
//     text-align: center;
//     background-color: var(--background-color-button);
//     color: var(--color-button);

//     border: none;
//     border-radius: 4px;

//     padding-top: 10px;
//     padding-bottom: 10px;
//     padding-left: 32px;
//     padding-right: 32px;

//     transition: background-color var(--transition-duration-function);
        
//         &:hover,
//         &:focus {
//             background-color: var(--background-color-button-hover);
//         }
// }

