.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-filter__button {
    font-family: inherit;
    font-weight: 500;
    @include font($fs: 16px, $lh: 26px);
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: 4px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    transition: background-color var(--transition-duration-function),
        color var(--transition-duration-function), box-shadow var(--transition-duration-function);

        &:hover,
        &:focus {
                color: var(--color-button);
                background-color: var(--background-color-button);
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
            }
}



.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-card__item {
    flex-basis: calc((100% - 60px) / 3);
}

.portfolio-card__link {
    transition: box-shadow var(--transition-duration-function);
     &:hover,
     &:focus {
            display: block;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}



.portfolio-card__overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-card__text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    overflow: hidden;
    transform: translate(0, 100%);
    transition: transform var(--transition-duration-function);

    @include font($fs: 18px, $lh: 28px);
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);

     .portfolio-card__link:hover &,
     .portfolio-card__link:focus & {
            transform: translate(0, 0);
        }
}



.portfolio-card__text-wrapper {
    border: 1px solid #eeeeee;
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.portfolio-card__title {
    @include font($fs: 18px, $lh: 36px, $ls: 0.06em);
    color: var(--primary-text-color);

    margin-bottom: 4px;
}

.portfolio-card__description {
    @include font($fs: 16px, $lh: 30px);
    color: var(--secondary-text-color);
}