 :root {
 --primary-font: 'Roboto',
  sans-serif;
  --secondary-font: 'Raleway',
  sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --color-logo-header: #000000;
  --color-link-icon: #afb1b8;
  --color-logo-footer: #ffffff;
  --color-hero-title: #ffffff;
  --color-logo-span: #2196f3;
  --accent-color-link: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --background-color-hero: #c4c4c4;
  --background-color-footer: #2f303a;
  --color-button: #ffffff;
  --background-color-button: #2196f3;
  --background-color-button-hover: #188ce8;
  --color-address: rgba(255, 255, 255, 0.6);
  --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }